##  Data Standardization is the process of transforming features so that they have: Mean = 0 ,Standard Deviation = 1
### üîç Why Use Standardization?
#### -Ensures all features are on the same scale.
#### -Helps algorithms that rely on distance (like KNN, SVM, logistic regression).
#### -Improves training stability and speed in gradient-based models (like neural networks).

In [51]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [59]:
scaler = StandardScaler()
le =LabelEncoder()

In [61]:
df = pd.read_csv('iris.csv')

In [63]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [67]:
df['encoded'] = le.fit_transform(df['Species'])

In [71]:
df.drop('Species',axis=1,inplace=True)

In [73]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  encoded
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [75]:
X = df.drop('encoded',axis=1)
Y = df['encoded']

In [77]:
X.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0   1            5.1           3.5            1.4           0.2
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2
3   4            4.6           3.1            1.5           0.2
4   5            5.0           3.6            1.4           0.2

In [79]:
Y.head()

0    0
1    0
2    0
3    0
4    0
Name: encoded, dtype: int32

In [103]:
X_train, X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2 , random_state=2)

In [105]:
X_train.head()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
126  127            6.2           2.8            4.8           1.8
23    24            5.1           3.3            1.7           0.5
64    65            5.6           2.9            3.6           1.3
117  118            7.7           3.8            6.7           2.2
84    85            5.4           3.0            4.5           1.5

In [107]:
X_train.shape

(120, 5)

In [109]:
X_train.head()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
126  127            6.2           2.8            4.8           1.8
23    24            5.1           3.3            1.7           0.5
64    65            5.6           2.9            3.6           1.3
117  118            7.7           3.8            6.7           2.2
84    85            5.4           3.0            4.5           1.5

In [111]:
X_test.shape

(30, 5)

In [113]:
X_test.head()

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
6      7            4.6           3.4            1.4           0.3
3      4            4.6           3.1            1.5           0.2
113  114            5.7           2.5            5.0           2.0
12    13            4.8           3.0            1.4           0.1
24    25            4.8           3.4            1.9           0.2

In [115]:
Y_train.shape

(120,)

In [119]:
Y_train.head()

126    2
23     0
64     1
117    2
84     1
Name: encoded, dtype: int32

In [121]:
Y_test.shape

(30,)

In [123]:
Y_test.head()

6      0
3      0
113    2
12     0
24     0
Name: encoded, dtype: int32

In [125]:
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

### After we scaled they changed to numpy array so if we want to convert to dataframe we need to apply pd.DataFrame()

In [129]:
X_train_scaled

array([[ 1.15368203,  0.37346331, -0.57939897,  0.54063457,  0.74225155],
       [-1.24247154, -0.9845851 ,  0.55297687, -1.24706373, -0.99115027],
       [-0.28866284, -0.36729037, -0.3529238 , -0.15137768,  0.07555854],
       [ 0.94430939,  2.22534751,  1.68535271,  1.63632062,  1.27560595],
       [ 0.1766097 , -0.61420826, -0.12644864,  0.36763151,  0.34223574],
       [-1.45184418, -0.12037247,  2.13830304, -1.53540217, -1.39116607],
       [ 1.29326379,  0.6203812 , -0.57939897,  1.00197606,  1.27560595],
       [ 0.33945509,  0.25000437, -0.12644864,  0.42529919,  0.20889714],
       [-0.54456273, -0.49074931, -1.71177481,  0.07929307,  0.07555854],
       [ 1.50263643,  1.23767594,  0.10002653,  0.71363763,  1.40894455],
       [ 0.03702794,  0.12654542, -0.3529238 ,  0.36763151,  0.34223574],
       [ 0.47903685,  0.37346331, -0.3529238 ,  0.25229613,  0.07555854],
       [ 1.54916369,  1.11421699,  0.3265017 ,  1.17497913,  1.40894455],
       [ 0.38598234, -1.10804404, -1.71177481, -0.32438074, -0.32445726],
       [-1.52163506, -1.35496194,  0.77945204, -1.30473142, -1.39116607],
       [ 1.33979104,  0.25000437, -1.03234931,  1.00197606,  0.20889714],
       [-1.1261534 , -0.86112615,  0.77945204, -1.4200668 , -1.39116607],
       [-0.26539921,  0.99075804,  0.10002653,  0.30996382,  0.20889714],
       [-1.77753496, -0.9845851 ,  1.0059272 , -1.4200668 , -1.39116607],
       [-1.14941703, -0.86112615,  1.0059272 , -1.36239911, -1.39116607],
       [-0.94004439, -0.49074931,  1.0059272 , -1.47773448, -1.39116607],
       [ 0.68840949, -1.23150299, -1.25882447,  0.36763151,  0.60891295],
       [ 1.66548182,  0.37346331,  0.77945204,  0.88664069,  1.40894455],
       [ 1.27000016,  2.4722654 ,  1.68535271,  1.46331756,  1.00892875],
       [-1.31226242, -0.61420826,  0.77945204, -1.24706373, -1.39116607],
       [ 1.4793728 ,  0.99075804,  0.10002653,  1.00197606,  1.54228315],
       [ 1.3863183 ,  0.49692226,  0.77945204,  1.00197606,  1.54228315],
       [ 0.66514586,  2.10188856, -0.12644864,  1.57865294,  1.14226735],
       [ 0.99083664,  0.12654542, -1.93824998,  0.65596994,  0.34223574],
       [-1.47510781, -1.97225667, -0.12644864, -1.59306986, -1.52450467],
       [-1.07962615, -1.35496194,  0.10002653, -1.30473142, -1.39116607],
       [ 0.57209136, -0.12037247, -0.80587414,  0.71363763,  0.87559015],
       [ 0.5255641 , -0.24383142, -0.57939897,  0.13696076,  0.07555854],
       [-0.40498097, -0.86112615, -0.80587414,  0.02162538,  0.20889714],
       [ 1.36305467,  2.22534751, -0.12644864,  1.2903145 ,  1.40894455],
       [ 1.08389115,  0.49692226, -0.80587414,  0.59830225,  0.74225155],
       [-0.12581745,  0.25000437, -0.57939897,  0.07929307,  0.07555854],
       [-1.28899879, -0.9845851 ,  1.45887754, -1.36239911, -1.12448887],
       [-0.49803548, -0.24383142, -0.57939897,  0.36763151,  0.07555854],
       [-1.40531693, -0.61420826,  1.91182787, -1.47773448, -1.12448887],
       [ 0.87451851, -0.12037247, -0.57939897,  0.71363763,  1.54228315],
       [ 0.36271872, -0.12037247, -1.03234931,  0.07929307, -0.05778006],
       [ 0.50230048, -0.9845851 , -1.25882447, -0.4973838 , -0.19111866],
       [-1.35878967, -0.24383142,  1.68535271, -1.24706373, -1.25782747],
       [ 0.10681882, -0.49074931, -1.48529964, -0.09370999, -0.32445726],
       [-0.35845372,  0.00308647, -0.12644864,  0.19462844,  0.34223574],
       [ 0.22313695,  0.99075804,  0.10002653,  0.48296688,  0.34223574],
       [ 1.06062752,  2.22534751, -0.57939897,  1.63632062,  1.00892875],
       [-1.75427133, -1.23150299, -0.12644864, -1.4200668 , -1.39116607],
       [-0.47477185,  0.49692226,  0.55297687,  0.48296688,  0.47557434],
       [-1.33552605, -0.9845851 ,  1.68535271, -1.36239911, -1.25782747],
       [ 0.13008245, -0.12037247, -0.80587414,  0.02162538, -0.05778006],
       [ 1.01410027,  1.23767594,  0.3265017 ,  1.05964375,  1.40894455],
       [-1.56816231, -1.23150299,  0.10002653, -1.36239911, -1.52450467],
       [-0.38171734, -1.10804404, -2.39120031, -0.20904537, -0.32445726],
       [-0.98657164, -1.23150299,  0.10002653, -1.36239911, -1.52450467],
       [-0.84698988, -1.10804404,  1.0059272 , -1.47773448, -1.25782747],
       [-1.54489869, -0.61420826,  1.45887754, -1.36239911, -1.39116607],
       [ 0.82799125,  1.11421699, -0.12644864,  0.94430838,  1.14226735],
       [ 0.54882773,  0.49692226,  0.55297687,  1.23264681,  1.67562175],
       [-1.17268066, -1.10804404,  0.77945204, -1.30473142, -1.12448887],
       [-1.0330989 , -0.86112615,  2.36477821, -1.36239911, -1.52450467],
       [ 1.61895457,  0.49692226, -1.25882447,  0.65596994,  0.87559015],
       [ 0.96757301,  2.22534751, -1.03234931,  1.751656  ,  1.40894455],
       [-0.33519009,  0.12654542, -1.93824998,  0.07929307, -0.32445726],
       [ 0.75820037,  1.60805278,  1.23240237,  1.2903145 ,  1.67562175],
       [-0.45150822, -1.23150299, -1.48529964, -0.32438074, -0.32445726],
       [-0.07929019,  0.25000437, -0.57939897,  0.48296688, -0.05778006],
       [ 1.64221819,  0.74384015, -0.12644864,  0.77130532,  1.00892875],
       [-1.3820533 , -0.9845851 ,  1.0059272 , -1.4200668 , -1.25782747],
       [ 1.24673654,  1.85497067, -0.57939897,  1.2903145 ,  0.87559015],
       [ 1.68874545,  0.00308647, -0.12644864,  0.71363763,  0.74225155],
       [ 0.80472763,  0.6203812 , -0.80587414,  0.828973  ,  0.87559015],
       [-1.59142594, -1.84879772, -0.3529238 , -1.4200668 , -1.39116607],
       [ 1.03736389, -0.36729037, -0.57939897,  0.59830225,  1.00892875],
       [-0.87025351, -0.9845851 ,  0.77945204, -1.36239911, -1.39116607],
       [-0.63761724, -1.10804404,  0.55297687, -1.4200668 , -1.39116607],
       [ 0.06029157, -0.24383142, -1.03234931, -0.20904537, -0.32445726],
       [ 1.45610918,  1.23767594,  0.10002653,  0.88664069,  1.14226735],
       [ 0.31619146, -0.49074931, -1.03234931,  0.30996382, -0.05778006],
       [ 1.31652742,  0.49692226, -0.57939897,  0.71363763,  0.34223574],
       [-0.61435361,  1.36113488,  0.3265017 ,  0.48296688,  0.20889714],
       [-0.00949931,  1.11421699, -0.57939897,  0.54063457,  0.20889714],
       [ 0.781464  ,  0.74384015,  0.3265017 ,  0.71363763,  1.00892875],
       [-0.56782636,  1.23767594,  0.10002653,  0.59830225,  0.34223574],
       [ 0.08355519, -0.49074931, -1.48529964, -0.0360423 , -0.19111866],
       [-0.24213558, -0.36729037, -0.12644864,  0.36763151,  0.34223574],
       [ 1.43284555,  0.12654542, -0.12644864,  0.54063457,  0.74225155],
       [ 0.15334607,  0.12654542, -0.80587414,  0.71363763,  0.47557434],
       [ 1.52590006, -0.12037247, -0.80587414,  0.71363763,  0.87559015],
       [-0.14908108,  0.00308647,  0.3265017 ,  0.54063457,  0.74225155],
       [-0.70740812, -0.9845851 ,  1.68535271, -1.30473142, -1.39116607],
       [-0.19560833,  0.37346331, -1.93824998,  0.36763151,  0.34223574],
       [ 0.26966421, -0.36729037, -0.12644864,  0.13696076,  0.07555854],
       [-0.1723447 , -0.36729037, -1.25882447,  0.02162538, -0.19111866],
       [-0.21887196, -0.12037247, -0.80587414,  0.13696076, -0.32445726],
       [ 1.40958192,  0.6203812 ,  0.10002653,  0.94430838,  0.74225155],
       [-0.4282446 ,  0.8672991 , -0.3529238 ,  0.42529919,  0.07555854],
       [-1.00983527, -0.49074931,  2.59125338, -1.4200668 , -1.39116607],
       [-0.89351714, -1.84879772, -0.12644864, -1.47773448, -1.39116607],
       [ 0.61861861,  0.49692226, -0.3529238 ,  1.00197606,  0.74225155],
       [-0.59108999,  0.6203812 ,  0.3265017 ,  0.36763151,  0.34223574],
       [ 0.71167312,  1.73151172, -0.3529238 ,  1.40564987,  0.74225155],
       [-1.68448045, -1.10804404,  1.23240237, -1.4200668 , -1.39116607],
       [ 0.59535498,  1.48459383, -0.12644864,  1.17497913,  1.14226735],
       [-0.91678076, -1.23150299,  0.10002653, -1.36239911, -1.52450467],
       [ 0.92104576,  0.74384015, -0.12644864,  0.94430838,  0.74225155],
       [ 1.10715478,  0.99075804,  0.55297687,  1.05964375,  1.14226735],
       [-1.05636252, -0.61420826,  0.77945204, -1.36239911, -1.12448887],
       [-0.31192646,  0.25000437, -0.3529238 ,  0.48296688,  0.20889714],
       [-0.68414449, -1.60187983,  0.3265017 , -1.4200668 , -1.39116607],
       [ 1.59569094,  0.99075804, -0.12644864,  0.77130532,  1.40894455],
       [ 0.4325096 , -0.24383142, -0.12644864,  0.19462844, -0.05778006],
       [-1.61468957, -1.10804404,  0.77945204, -1.36239911, -1.39116607],
       [ 0.64188224,  0.74384015, -0.12644864,  1.11731144,  1.27560595],
       [-0.03276294,  0.8672991 , -0.12644864,  0.30996382,  0.20889714],
       [-0.777199  , -1.10804404,  1.0059272 , -1.30473142, -0.85781167],
       [-1.26573516, -1.60187983,  1.23240237, -1.65073754, -1.39116607],
       [-0.10255382,  0.49692226, -1.25882447,  0.59830225,  0.34223574],
       [-1.42858055, -0.24383142,  3.04420371, -1.36239911, -1.12448887]])

In [131]:
X_test_scaled

array([[-1.63795319, -1.60187983,  0.77945204, -1.4200668 , -1.25782747],
       [-1.70774408, -1.60187983,  0.10002653, -1.36239911, -1.39116607],
       [ 0.85125488, -0.24383142, -1.25882447,  0.65596994,  1.00892875],
       [-1.49837143, -1.35496194, -0.12644864, -1.4200668 , -1.52450467],
       [-1.21920791, -1.35496194,  0.77945204, -1.13172836, -1.39116607],
       [ 1.22347291,  1.60805278, -0.12644864,  1.11731144,  0.47557434],
       [-1.19594428, -1.10804404, -0.12644864, -1.30473142, -1.39116607],
       [ 0.73493675,  0.99075804, -1.25882447,  1.11731144,  0.74225155],
       [ 1.20020928,  0.6203812 , -0.57939897,  1.00197606,  1.14226735],
       [-0.73067175, -1.35496194, -0.12644864, -1.4200668 , -1.25782747],
       [-0.66088087, -0.7376672 ,  1.45887754, -1.36239911, -1.39116607],
       [-0.80046263, -1.84879772,  0.3265017 , -1.47773448, -1.39116607],
       [-0.96330802, -1.10804404,  0.3265017 , -1.53540217, -1.39116607],
       [-1.66121682, -0.61420826,  1.91182787, -1.24706373, -1.12448887],
       [ 0.19987333,  0.12654542,  0.77945204,  0.36763151,  0.47557434],
       [-0.52129911,  0.74384015, -0.57939897,  0.42529919,  0.34223574],
       [-0.82372625, -1.72533877, -1.71177481, -1.47773448, -1.25782747],
       [ 0.45577322, -0.24383142, -0.3529238 ,  0.19462844,  0.07555854],
       [ 1.57242731,  0.99075804,  0.55297687,  1.05964375,  1.67562175],
       [ 0.29292783, -0.49074931, -1.25882447,  0.07929307,  0.07555854],
       [ 0.01376431,  0.99075804, -0.12644864,  0.65596994,  0.60891295],
       [-0.05602657,  0.6203812 , -0.3529238 ,  0.25229613,  0.07555854],
       [ 0.89778213,  0.6203812 ,  0.3265017 ,  0.828973  ,  1.40894455],
       [ 0.40924597, -0.36729037, -0.80587414,  0.19462844,  0.07555854],
       [ 0.24640058,  0.49692226, -1.71177481,  0.30996382,  0.07555854],
       [-1.10288978, -1.47842088,  0.3265017 , -1.30473142, -1.39116607],
       [-1.7310077 , -1.47842088,  0.3265017 , -1.47773448, -1.39116607],
       [ 1.17694566,  0.25000437, -0.12644864,  0.59830225,  0.74225155],
       [-0.75393537, -0.9845851 ,  1.68535271, -1.13172836, -1.12448887],
       [ 1.1304184 ,  1.60805278,  0.3265017 ,  1.23264681,  0.74225155]])

In [138]:
X_train_scaleddf= pd.DataFrame(X_train_scaled,columns = X.columns)

In [140]:
X_train_scaleddf.head()

         Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0  1.153682       0.373463     -0.579399       0.540635      0.742252
1 -1.242472      -0.984585      0.552977      -1.247064     -0.991150
2 -0.288663      -0.367290     -0.352924      -0.151378      0.075559
3  0.944309       2.225348      1.685353       1.636321      1.275606
4  0.176610      -0.614208     -0.126449       0.367632      0.342236

In [142]:
X_test_scaleddf = pd.DataFrame(X_test_scaled,columns=X.columns)

In [144]:
X_test_scaleddf.head()

         Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0 -1.637953      -1.601880      0.779452      -1.420067     -1.257827
1 -1.707744      -1.601880      0.100027      -1.362399     -1.391166
2  0.851255      -0.243831     -1.258824       0.655970      1.008929
3 -1.498371      -1.354962     -0.126449      -1.420067     -1.524505
4 -1.219208      -1.354962      0.779452      -1.131728     -1.391166