### Importing dependecies

In [106]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [108]:
data = {'color' :["red","blue","yellow"],
       "price": [10,20,15]}

In [110]:
df = pd.DataFrame(data)

In [111]:
df

    color  price
0     red     10
1    blue     20
2  yellow     15

#### dummy variables using pandas

In [114]:
encoded = pd.get_dummies(df, columns=["color"] , drop_first = True)

In [116]:
encoded

   price  color_red  color_yellow
0     10       True         False
1     20      False         False
2     15      False          True