### Importing the dependencies or libraries

In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

### Importing the models

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [27]:
#loading the dataset into pandas data fram
data = pd.read_csv("heart_disease_data.csv")

In [45]:
# to see the names of columns
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [29]:
#displaying the first 5 top rows
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [31]:
#to display the last 5 rows
data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [33]:
# to check the number of columns and rows
data.shape

(303, 14)

In [35]:
# to see the statistical distribution of the dataset
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [37]:
# to see the information of the dataset or the metadat of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [39]:
# to display how many of have heart disease
targets = data["target"].value_counts()

In [41]:
targets

target
1    165
0    138
Name: count, dtype: int64

### 1 -- defective heart
### 0 -- healthy heart

In [43]:
# to check if there is null value
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

### spliting the data and target or label

In [59]:
X = data.drop(columns=['target'],axis=1)
y=data['target']

In [61]:
X.shape

(303, 13)

In [63]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [66]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

### train test split

In [71]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=3)

In [73]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(242, 13) (61, 13) (242,) (61,)

### compairing the models

In [115]:
#list of models
models =[LogisticRegression(max_iter = 5000) , SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [148]:
def compare_models():
    for model in models:
        model.fit(X_train,y_train)
        prediction=model.predict(X_test)
        accuracy = accuracy_score(prediction,y_test)
        print(f'accuracy of {model} : {accuracy} ')

In [158]:
compare_models()

accuracy of LogisticRegression(max_iter=5000) : 0.7704918032786885
accuracy of SVC(kernel='linear') : 0.7704918032786885
accuracy of KNeighborsClassifier() : 0.6557377049180327
accuracy of RandomForestClassifier() : 0.7868852459016393

### cross validation
cross validation of logistic regression

In [161]:
cross_val = cross_val_score(LogisticRegression(max_iter=5000),X,y,cv=5)

In [173]:
cross_val_mean = sum(cross_val)/len(cross_val)*100
round(cross_val_mean,1)

82.8

#### cross validation of all models

In [206]:
def cross_val_models():
    for model in models:
        cross_val_all = cross_val_score(model,X,y,cv=5)
        print(f" cross validation of {model}:{cross_val_all}")
        cross_mean = sum(cross_val_all)/len(cross_val_all)*100
        print(f'accuracy of {model}: {round(cross_mean,2)}')

In [208]:
cross_val_models()

 cross validation of LogisticRegression(max_iter=5000):[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
accuracy of LogisticRegression(max_iter=5000): 82.83
 cross validation of SVC(kernel='linear'):[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
accuracy of SVC(kernel='linear'): 82.83
 cross validation of KNeighborsClassifier():[0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
accuracy of KNeighborsClassifier(): 64.39
 cross validation of RandomForestClassifier():[0.85245902 0.90163934 0.7704918  0.81666667 0.8       ]
accuracy of RandomForestClassifier(): 82.83